name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['2.7', '3.6', '3.7', '3.8', '3.9']
        django-version: ['1.9', '1.10', '1.11.17', '2.0', '2.2', '3.1', '3.2']
        exclude:
          - django-version: '2.0'
            python-version: '2.7'
          - django-version: '2.2'
            python-version: '2.7'
          - django-version: '3.1'
            python-version: '2.7'
          - django-version: '3.2'
            python-version: '2.7'
          - django-version: '1.9'
            python-version: '3.8'
          - django-version: '1.10'
            python-version: '3.8'
          - django-version: '1.9'
            python-version: '3.9'
          - django-version: '1.10'
            python-version: '3.9'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade Pip
        run: pip install -U pip
      - name: Install six
        run: pip install six
      - name: Install Django
        run: pip install Django==${{ matrix.django-version }}
      - name: Test
        run: python test_manage.py test
